{
  "moodle": {
    "hash": "$2b$12$VOTRE_HASH_BCRYPT_ICI",
    "scopes": ["statements/write", "statements/read/mine", "state/write", "state/read", "define"],
    "agent": {
      "mbox": "mailto:moodle@example.com",
      "name": "Moodle LRS User",
      "objectType": "Agent"
    }
  },
  "admin": {
    "hash": "$2b$12$VOTRE_HASH_BCRYPT_ICI",
    "scopes": ["all"],
    "agent": {
      "mbox": "mailto:admin@example.com",
      "name": "Admin User",
      "objectType": "Agent"
    }
  }
}
