{
  "moodle_client": {
    "username": "moodle",
    "hash": "$2b$12$dV1JedSr.4VU8z9YM1dhJuv1MJICKZARsAQZcQpHS1mFKhBwy3AYi",
    "scopes": [
      "statements/write",
      "statements/read/mine",
      "state/write",
      "state/read",
      "define"
    ]
  },
  "admin": {
    "username": "admin",
    "hash": "$2b$12$dV1JedSr.4VU8z9YM1dhJuv1MJICKZARsAQZcQpHS1mFKhBwy3AYi",
    "scopes": [
      "statements/write",
      "statements/read",
      "state/write",
      "state/read",
      "define",
      "profile/write",
      "profile/read"
    ]
  }
}